.main {
    color: white;
    background-color: #0A0332;
    min-height: 100vh;
}

.container {
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    /* display: grid; */
    /* background-color: red; */
}

.contentTop {
    margin-top: 10rem;
}

.justifiedContentRight {
    justify-content: right;
}

.justifiedContentLeft {
    justify-content: left;
}

.justifiedContentCenter {
    justify-content: center;
}

.imageDimension {
    width: 200px;
    height: 600px;
}

.loginCard {
    min-width: 40vh;
    min-height: 40vh;
    background-color:#0f1740;
}

.animateBounce {
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
}

#content1::after {
    content: "\a";
    white-space: pre;
}